{% extends 'timeline/base.html' %}
{% block content %}
{{block.super}}
<div class="container">
  


<div class=newscard>
<!-- Section: Social news card -->
<section class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-8 col-lg-8">

      <!-- Card -->
      <div class="card news-card">

        <!-- Heading-->
        <div class="card-body">
          <div class="content">
            
            
          </div>
        </div>
        {% for img in images %}
        
        <!-- Card image-->
        <img src="{{img.photo_image.url}}" alt="..">



        <!-- Card content -->
        <div class="card-body">

          <!-- Social meta-->
          <div class="social-meta">
            <p>{{img.caption}}</p>
            <span><i class="far fa-heart" onclick="thumbsup()"></i>{{ post.like_set.count}}likes</span>
            <p><i class="fas fa-comment"></i>13 comments</p>
          </div>
          <hr>
          <div class="comments">
            {% for comment in comments %}

            <p class="actual-comment"><img src="" style="border-radius:50%;" alt=""
                height="50px" width="50px" class="profile-pic">{{comment.user.username}}: {{comment.comm}}</p>
            {% endfor %} </div>
          <!-- Comment input -->
         
          <div class="md-form">
            
            <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
            <button type="submit" class="btn btn-sm btn-primary comment-btn" onclick="commenter('{{image.id}}')"
                style="height: 20px; border-top-left-radius: 0; border-bottom-left-radius: 0">Add</button>
          </div>
         
        </div>
        <!-- Card content -->
        {% endfor %}
      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->
<div class="col-md-4 col-lg-4">
  <div class="card" style="padding: 50px;">
    <div class="rows">
      <div class="col-md-6 col-lg-6">
          <a href="profile/"><img src="http://chittagongit.com/download/60603" alt=""></a>
     
        <a href="profile/"><h2 class="profile">Profile</h2></a>
      </div>
      </div>
        
    </div>
      
      
      <a href="add/image" ><button class="button">Add Image</button></a> 
	</div>
  <!-- Grid row -->

</section>
<!-- Section: Social news card -->
</div>
</div>
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(215, 224, 224);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #f1eff1}

.button:active {
  background-color: #f5fafa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.profile{
  font-family: 'Norican', cursive;

}
</style>

{% endblock %}