{% extends 'timeline/base.html' %}
{% block content %}
{{block.super}}
<br><br>
<div class="container">
<div class="span8">
    <div class="row-fluid">
  <div class="span2" >
  {% for img in profile%}

  <img src="{{img.profile_photo.url}}" class="img-circle" alt="avatar">
  </div>
  <div class="span6">
    <h2>{{img.name}}</h2>
    <h6>{{img.bio}}</h6>
    <div class="rows">
    <div class="col-md-4 col-lg-4">
        <button>Followers</button>
    </div>
    <div class="col-md-4 col-lg-4">
        <button>Following</button>
    </div>
    </div>
  </div>
  {% endfor %}
  <div class="span2">
    <div class="container">        
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Edit Profile
        </button>
        <ul class="dropdown-menu">
        <li><a href="update/"><span class="icon-wrench"></span> Modify</a></li>
        <li><a href="/accounts/password/change">Change Password</a></li>
        </ul>
    </div>       
    <div class="profile-images">
    {% for img in image %}
    <a href="{% url 'image_view' image.id %}"></a>
    <div class="image-card">
    <img  src="{{img.photo_image.url}}" alt="Card image cap">
    {%endfor%}
    </div>
    </a>         
    </div>
    </div>
    </div>
  
</div>       
</div>


{% endblock %}